		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
			font-family: 'Google Sans', Roboto, Segoe UI, Verdana, Segoe, sans-serif;
		}

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: inherit !important;
		}

		#MessageViewBody a {
			color: inherit;
			text-decoration: none;
		}

		p {
			line-height: inherit
		}

		.desktop_hide,
		.desktop_hide table {
			mso-hide: all;
			display: none;
			max-height: 0px;
			overflow: hidden;
		}

		.image_block img+div {
			display: none;
		}
		img {
		border-radius: 4px;
		}

		sup,
		sub {
			font-size: 75%;
			line-height: 0;
		}

		@media (max-width:500px) {

			.desktop_hide table.icons-inner,
			.row-1 .column-1 .block-5.button_block .alignment .button,
			.social_block.desktop_hide .social-table {
				display: inline-block !important;
			}

			.icons-inner {
				text-align: center;
			}

			.icons-inner td {
				margin: 0 auto;
			}

			.mobile_hide {
				display: none;
			}

			.row-content {
				width: 100% !important;
			}

			.stack .column {
				width: 100%;
				display: block;
			}

			.mobile_hide {
				min-height: 0;
				max-height: 0;
				max-width: 0;
				overflow: hidden;
				font-size: 0px;
			}

			.desktop_hide,
			.desktop_hide table {
				display: table !important;
				max-height: none !important;
			}

			.row-1 .column-1 .block-5.button_block td.pad {
				padding: 10px !important;
			}

			.row-1 .column-1 .block-5.button_block span {
				font-size: 16px !important;
				line-height: 32px !important;
			}

			.row-1 .column-1 .block-5.button_block .alignment {
				text-align: center !important;
			}

			.row-2 .column-1 .block-3.paragraph_block td.pad {
				padding: 10px 0 0 !important;
			}
		}